
:root{
  --main-font:'Nunito', sans-serif;
  --main-font-color: #272142;
}


h1{
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 72px;
}
p{
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--main-font-color);
  font-size: 18px;
  line-height: 30px;

}
a{
  text-decoration: none;
}

h2{
 margin:20px 0;
  color:var(--main-font-color);
  font-size: 64px;
}
h3{
  margin:20px 0;
  color:var(--main-font-color);
  font-size: 36px;
}
strong{
  font-size: 24px;
}
.hero{
  background: linear-gradient(90deg, rgb(0, 0, 0,0.5) 0%,   rgba(154, 154, 154, 0.5) 50%, rgb(0, 0, 0,0.5) 100%), url("/media/hero.png");
  padding: 50px 25%;
  margin:100px 0;
  text-align: center;
  color:white;
  background-size: cover;
}
.about-hero h1{
    padding: 50px 25%;
  margin:100px 0;
  text-align: center;
  color:var(--main-font-color);
  font-size: 72px;
}
 


.hero p{
  font-size: 24px;
  line-height: 35px;
    margin:20px;
    color:white;

}
.main-btn{
  border-radius: 4px;
  background: #FEE7AE;
  font-family: var(--main-font);
  text-decoration: none;
  padding:15px 20px;
  color: black;
  margin:50px;
}
.main-btn:hover{
  color:#0BA2AC;
}

.galery-pictures{
  border-radius: 12px;
  margin-bottom: 20px;
}
.galery-recipe-label {
text-decoration: none;
color:var(--main-font-color);
font-size: 28px;
line-height: 38px;
font-weight: 700;
}
.galery-row{
  margin-bottom: 40px;
}

.main-gallery{
  max-width: 75%;
}
@media (max-width: 600px) {
   .galery-recipe-label{
    font-size: 12px;
line-height: 15px;
font-weight: 700;
}
.galery-pictures{
  border-radius: 10px;
  margin-bottom: 15px;
}
.main-btn{
  margin:10px 0px;
}
.hero p{
  font-size: 15px;
  line-height: 25px;
    margin:20px 0px;

}
h1{
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 35px;
}

  }



